{# templates/admin/_confirm_modal.html.twig #}
<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div id="confirmModalBody" class="modal-body">
        <!-- Le texte est injecté en JavaScript -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <a id="confirmModalBtn" href="#" class="btn">
          Confirmer
        </a>
      </div>
    </div>
  </div>
</div>